@import "tailwindcss";

/* ==== Flechas del carrusel ==== */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  text-shadow: 0px 2px 6px rgba(0,0,0,0.5);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #d16224 !important;
  text-shadow: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

/* ==== Bolitas de paginación ==== */
.swiper-pagination {
  bottom: 12px !important; /* centrado perfecto */
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #d16224 !important;
  opacity: 0.4;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  transform: scale(1.2);
}


@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-3px); }
  40% { transform: translateX(3px); }
  60% { transform: translateX(-3px); }
  80% { transform: translateX(3px); }
}

.shake-cart {
  animation: shake 0.4s ease-in-out;
}
